package {{invokerPackage}};

import {{ws}}.ws.rs.ApplicationPath;
import {{ws}}.ws.rs.core.Application;

@ApplicationPath(RestResourceRoot.APPLICATION_PATH)
public class RestApplication extends Application {

}
