{{{header}}}

import { mapValues } from '../runtime';
{{#imports}}
import type { {{name}} } from './{{name}}';
import {
    {{name}}FromJSON,
    {{name}}FromJSONTyped,
    {{name}}ToJSON,
    {{name}}ToJSONTyped,
} from './{{name}}';
{{/imports}}
{{#hasImports}}

{{/hasImports}}
/**
 * {{{description}}}
 * @export
 * @interface {{classname}}
 */
export interface {{classname}} {
{{#vars}}
    /**
     * {{{description}}}
     * @type {{{typeDoc}}}
     * @memberof {{classname}}
     */
    {{name}}{{optional}}: {{{type}}};
{{/vars}}
}
{{#innerEnums}}

{{> modelInnerEnum}}
{{/innerEnums}}

/**
 * Check if a given object implements the {{classname}} interface.
 */
export function instanceOf{{classname}}(value: object): value is {{classname}} {
{{#requiredVars}}
    if (!('{{name}}' in value) || value['{{name}}'] === undefined) return false;
{{/requiredVars}}
    return true;
}

export function {{classname}}FromJSON(json: any): {{classname}} {
    return {{classname}}FromJSONTyped(json, false);
}

export function {{classname}}FromJSONTyped(json: any, ignoreDiscriminator: boolean): {{classname}} {
    if (json == null) {
        return json;
    }
    return {
{{{sp8}}}
{{#vars}}
        '{{name}}': {{{fromJson}}},
{{/vars}}
    };
}

export function {{classname}}ToJSON(json: any): {{classname}} {
    return {{classname}}ToJSONTyped(json, false);
}

export function {{classname}}ToJSONTyped(value?: {{classname}} | null, ignoreDiscriminator: boolean = false): any {
    if (value == null) {
        return value;
    }

    return {
{{{sp8}}}
{{#vars}}
        '{{baseName}}': {{{toJson}}},
{{/vars}}
    };
}

